.tabs {
  &__opener-list {
    display: flex;

    &::after {
      content: "";
      flex-grow: 1;
      margin-top: auto;
      height: 1px;
      background-color: var(--gray-800);
    }

    &-item {
      background-color: transparent;
      border: none;
      padding: 16px 20px;
      font-family: var(--site-base-font-family);
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.04em;
      background-color: #f5f5f5;
      border: 1px solid var(--gray-500);

      &.active {
        background-color: #fff;
        border-bottom-color: transparent;
      }
    }
  }

  &__content-list-item {
    padding: clamp(10px, 2vw, 30px) 0;
  }
}
