@use "@scss/base/container-queries" as *;

.review-card {
  &-container {
    height: 100%;
    container: review-card / inline-size;
  }

  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: clamp(10px, 3vw, 30px);
  height: 100%;
  border: 2px solid var(--primary);
  border-radius: var(--base-br);

  &__rating {
    margin-bottom: auto;
    svg {
      fill: var(--gray-500);
    }

    svg.active {
      fill: var(--yellow);
    }
  }

  &__text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }

  .clear-btn {
    display: none;
    margin-top: auto;
  }

  &__author {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    row-gap: clamp(4px, 2cqw, 8px);

    span:first-of-type {
      color: var(--primary);
      font-size: 18px;
      font-weight: 600;
    }
  }

  @include container-up(review-card, 500px) {
    .review-card__author:has(img) {
      grid-template-columns: auto 1fr;
      grid-template-rows: repeat(2, auto);

      img {
        grid-column: 1 / 2;
        grid-row: 1 / -1;
      }
    }
  }
}
