.horizontal-multilevel-menu {
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 16px;
	font-weight: 500;
	z-index: 5;

	ul {
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	a {
		display: flex;
		align-items: center;
		gap: 6px;
		padding: 16px;
		font-size: 18px;
		font-weight: 500;

		&:hover {
			color: var(--primary);
			opacity: 1;

			& > svg {
				fill: var(--primary);
			}
		}
	}

	& > li > a {
		& > svg {
			transform: rotate(90deg);
		}
	}

	@media (max-width: 960px) {
		display: none;
	}
}

.dropdown-menu {
	position: relative;

	ul {
		display: none;
	}

	&:hover {
		& > ul {
			position: absolute;
			top: 100%;
			left: 0;
			display: flex;
			flex-direction: column;
			background-color: var(--light);
			z-index: 5;

			a {
				border-top: 1px solid var(--gray-600);
				padding: 10px 16px;
			}
		}
	}
}
