:root {
	--bx-filter-input-label-color: var(--dark);
	--bx-filter-input-container-gap: 8px;
	--bx-filter-input-color: #7a7a7a;
	--bx-filter-input-border-radius: 10px;
	--bx-filter-input-inner-offset: 8px 12px;
	--bx-filter-input-placeholder-color: rgba(145, 145, 145, 1);
	--bx-filter-input-text-size: 14px;
	--bx-filter-input-text-weight: 400;
	--bx-filter-input-text-color: #7a7a7a;
	--bx-filter-input-border-color: #7a7a7a;
	--bx-filter-input-min-height: 36px;
}

.bx-filter-input {
	&-group {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 12px;
	}

	display: flex;
	flex-direction: column;
	gap: var(--bx-filter-input-container-gap);

	span {
		font-size: 16px;
		color: var(--bx-filter-input-label-color);
	}

	input {
		min-height: var(--bx-filter-input-min-height);
		font-size: var(--bx-filter-input-text-size);
		font-weight: var(--bx-filter-input-text-weight);
		color: var(--bx-filter-input-text-color);
		border: 1px solid var(--bx-filter-input-border-color);
		border-radius: var(--bx-filter-input-border-radius);
		padding: var(--bx-filter-input-inner-offset);

		&::placeholder {
			font-size: var(--bx-filter-input-text-size);
			color: var(--bx-filter-input-placeholder-color);
		}
	}
}
