@use "./bx-ui-slider";
@use "./bx-filter-input";
@use "./bx-filter-select";

/*  */
// CUSTOM
/*  */

.bx-filter {
	form {
		padding: var(--base-gap);
		background-color: rgba(43, 81, 157, 0.1);
		border-radius: 30px;
	}

	&-content {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: var(--base-gap);
	}

	&-section {
		position: relative;
		overflow: hidden;

		&-title span {
			font-size: 16px;
			color: var(--dark);
		}
	}

	&-block {
		padding-top: 8px;

		&--row {
			display: flex;
			flex-wrap: wrap;
			gap: 4px;
		}
	}

	&-btn {
		display: flex;
		align-items: center;
		font-style: 16px;
		font-weight: 600;
		border: none;
		background-color: var(--primary);
		color: var(--white);
		padding: 6px 18px;
		border-radius: 10px;
		border: 1px solid transparent;

		#filter_count {
		}

		&:disabled {
			pointer-events: none;
			opacity: 0.4;
		}

		&.outlined {
			color: var(--dark);
			background-color: transparent;
		}
	}
}

.bx-filter-image-checkbox {
	display: flex;
	align-items: center;
	gap: 4px;

	&.disabled {
		pointer-events: none;
		opacity: 0.4;
	}

	input {
		display: none;
	}

	&__img-wrapper {
		position: relative;

		display: flex;
		align-items: center;
		justify-content: center;

		width: 24px;
		height: 24px;

		padding: 4px;
		border: 1px solid var(--gray-700);
		border-radius: 4px;
		background-color: var(--white);

		img {
			width: 16px;
			height: 16px;
			border-radius: 4px;
			object-fit: contain;
		}

		&::after {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 12px;
			height: 12px;
			content: "";
			transform: translate(-50%, -50%);
			background-image: url(@img/check-icon-white.svg);
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			opacity: 0;
		}
	}

	&:has(input:checked) &__img-wrapper {
		position: relative;
		border-color: var(--primary);

		&::after {
			opacity: 1;
		}
	}

	span {
		font-size: 12px;
		line-height: 1;
		font-weight: 400;
		color: var(--dark);
	}
}
