@use "@scss-root/extends";
@use "@scss-root/vars";
@use "@scss-root/scoped-vars" as *;
@use "@scss-root/container-queries" as *;

$card-width-tablet: 710px;
$card-width-desktop: 1210px;

.product-item-container {
	width: 100%;
	max-width: 100vw;

	container: item-container / inline-size;
}

// -- Кнопки быстрых действий

.item {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 12px;
	height: 100%;
	border: 1px solid var(--gray-500);
	border-radius: 4px;

	&__section {
		display: flex;
		flex-direction: column;
		gap: 6px;

		&--top {
			margin-bottom: auto;
		}

		&-field {
			display: flex;
			align-items: center;
			gap: 6px;
		}
	}

	&__title {
		font-size: 14px;
		font-weight: 500;
		color: var(--primary);
		text-decoration: none;

		@extend %hover-opacity;
	}

	&__action {
		position: absolute;
		top: 6px;
		right: 6px;
		display: flex;
		flex-direction: column;
		gap: 10px;

		z-index: 3;

		&-btn {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 40px;
			height: 40px;
			background-color: var(--white);
			border: 1px solid var(--primary);
			border-radius: 3px;

			svg {
				@extend %hover-opacity;
			}
		}
	}

	&__labels {
		position: absolute;
		top: 6px;
		left: 6px;

		display: flex;
		flex-direction: column;
		gap: 4px;

		z-index: 2;
	}

	&__quantity-limit {
		font-size: 12px;
	}

	&__sku {
		// width: 140px;

		min-width: 100px;
		min-height: 40px;
		background-color: var(--light);
	}

	&__price {
		flex-direction: column;
		align-items: flex-start;

		&-values small {
			font-size: 14px;
			font-weight: 500;
		}

		&-label {
			display: flex;
			align-items: center;
			gap: 8px;
			width: fit-content;
			padding: 2px;
			padding-left: 8px;
			font-size: 12px;
			background-color: var(--warning);
			border-radius: 4px;
			font-weight: 500;

			span {
				line-height: 1;
				padding: 4px 0;
			}

			span:last-child {
				padding: 4px 12px;
				background-color: var(--info);
				border-radius: 2px;
				flex-grow: 1;
			}
		}

		&-value {
			&--current {
				font-size: 16px;
				font-weight: 500;
			}

			&--old {
				color: var(--gray-800);
				text-decoration: line-through;
				font-size: 14px;
			}
		}
	}

	.counter {
		background-color: var(--white);
		margin-right: 0;
	}

	.custom-select {
		&-panel {
			border-radius: 4px;
		}

		&-container {
			max-width: 100%;

			&.is-open .custom-select-panel {
				border-color: var(--gray-600);
			}
		}

		&-opener {
			min-height: 40px;
			border: 1px solid var(--gray-600);
			background-color: var(--light);
		}

		&-option {
			min-height: 40px;

			&:not(:last-child) {
				border-bottom: 1px solid var(--gray-600);
			}
		}
	}

	.add-to-cart-btn {
		font-size: 12px;
		font-weight: 600;
		min-height: 40px;
		width: 100%;
	}
}

.product-item-slider {
	position: relative;
	width: 100%;
	height: 200px;

	.swiper-slide {
		img {
			display: block;
			width: 100%;
			height: 100%;
			margin: 0 auto;
			object-fit: contain;
			object-position: center;
		}
	}

	& .swiper-pagination {
		bottom: 0 !important;
		gap: 4px;
		padding: 12px 4px;
		background-color: rgba(245, 245, 245, 0.2);
		border-radius: 4px;

		&-bullet {
			max-width: 40px;
		}
		&-lock {
			visibility: hidden;
		}
	}
}
